/* FILTER & SORT BAR */

.filter-input__input .icon-checkmark {
  color: #FFFEF9;
}

.filter-item__checkbox:checked + .filter-item__content-inner .filter-input__input {
  background-color: var(--color-border-input);
  border-color: var(--color-border-input);
}

.filter-item__radio + .filter-item__content-inner .filter-input__input .indicator{
  border-radius:100%;
  width:var(--spacing-4);
  height:var(--spacing-4);
  background-color:var(--color-border-input);
}

.filter-item__radio:checked + .filter-item__content-inner .filter-input__input {
  border-color:var(--color-border-input);
}

.filter-item__radio + .filter-item__content-inner .filter-input__input {
  border: 2px solid var(--color-border);
}

/* Mobile Filters & Drawer */
.mobile-filters__button {
  border: none;
}

button[data-filter-drawer-target="__tags"] {
  justify-content: flex-start;
}

button[data-filter-drawer-target="__sort"] {
  justify-content: flex-end;
}

.filter-drawer__panel {
  background-color: #FFFEF9;
}

.filter-drawer__panel .filter-drawer__footer {
  background-color: #FFFEF9;
  box-shadow: none;
}

.filter-drawer__content{
  padding-top: var(--spacing-8);
}

.filter-drawer__heading .filter-drawer__title {
  font-size: var(--font-size-body-100);
}

.filter-drawer__heading .icon-button--small {
  transform: scale(0.8);
  transform-origin: center;
}

.filter-drawer__heading {
  margin-bottom: var(--spacing-7);
}

.filter-drawer__heading + .filter-drawer__group {
  border-top: 1px solid var(--color-text);
}

.filter-drawer__content .filter-item__count{
  display: none;
}
.filter-drawer__group-toggle .icon-chevron {
  color: var(--color-border-input)
}

.filter-drawer__group-toggle {
  padding: var(--spacing-5) 0;
}

.filter-drawer__button-apply {
  border-radius: 4px;
}

/* Desktop Filters */
.filter-bar {
  padding-top: var(--spacing-8);
  padding-bottom: var(--spacing-8);
}

.filter-bar__filters-inner .filter-group:first-child {
  margin:calc(4px * 2);
  margin:var(--spacing-2);
}

.filter-group__label[aria-expanded="false"] .icon-chevron-small {
  color: var(--color-border);
}

.filter-group__label {
  min-width: 200px;
  height: var(--spacing-12);
  justify-content: space-between;
  padding-left: var(--spacing-4);
}

.filter-group {
  margin-left: 4px;
  margin-right: 4px;
}

.filter-bar__results-count {
    margin: var(--spacing-2);
  }

.filter-group__values[data-dropdown="Size"] .filter-item__content-inner {
  aspect-ratio: 1 / 1;
}

.filter-bar .filter-item__chip {
  padding: var(--spacing-1);
}

.filter-group__list.filter-drawer__list--chips {
  padding: var(--spacing-3) var(--spacing-4);
}

.filter-group__list.filter-drawer__list--chips[data-layout="3col"] {
  row-gap: var(--spacing-3);
  column-gap: var(--spacing-2);
}

.filter-group__values .filter-item__count{
  color: var(--color-text);
}
